h1 {
            font-family: cursive, sans-serif;
            font-size: 20px;
            color: black;
            width: 666px;
            height: 41px;
            background-color: yellow;
            border: 5px solid red;
        }